
#Retro {
  position: fixed;
  top: 0; bottom: 0;
  left: 0; right: 0;
  color: #fff;
  background: white(0.5);
};

@function black($opacity) {
  @return rgba(black, $opacity)
};

@function white($opacity) {
  @return rgba(white, $opacity)
}

.imgGame {
    width: 96px;
    height: 96px;
}
            
